body {
    font-family: Consolas, monaco, monospace;

}

span {
    color: black;
    letter-spacing: 2px;
}

.bg-lightdark {
    background-color: #b2abab;
}


circle {
    fill: #b2abab;
    fill-opacity: 0.8;
    stroke: white;
    stroke-width: 1px;

}
circle#code-392 {
    stroke: red;
    fill: red;
}
circle#code-10 {
    display: none;
}

.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}


.card-menu {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
